body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px;
    width: 100%;
    max-width: 960px;
    aspect-ratio: 1;
}

.square {
    border: 1px solid black;
}

.hover {
    background-color: pink;
}

.btn {
    font-size: 24px;
    margin: 10px;
}